body{
    
}
div{
    
    border: solid black 1px;
    border-radius: 25px;
    width: 800px;
    height: 600px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: skyblue;
}
h3{
    font-style: italic;
}
h1{
    font-family: cursive;
}
img{
    width: 200px;
}
.style{
    width: 286px;
    height: 25px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}